<!-- Navbar -->
<nav class="navbar navbar-expand-xl custom-navbar">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item"><a class="nav-link" href="#">Início</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Contribuinte</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Emissão de CND</a></li>
            <li><a class="dropdown-item" href="#">Validação CND</a></li>
            <li><a class="dropdown-item" href="#">Consultar autenticidade certidão baixa de atividade</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="#">Mobiliário</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Imobiliário</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Processos Administrativo</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">NFS-e</a></li>
            <li><a class="dropdown-item" href="#">Agendamentos</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="#">NFS-e</a></li>
      </ul>
    </div>
  </div>
</nav>
