<!-- Navbar -->
<nav class="navbar navbar-expand-xl custom-navbar">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-home"></i> Início</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-user"></i> Contribuinte
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#"><i class="fas fa-file-alt"></i> Emissão de CND</a></li>
            <li><a class="dropdown-item" href="#"><i class="fas fa-check-circle"></i> Validação CND</a></li>
            <li><a class="dropdown-item" href="#"><i class="fas fa-check-circle"></i> 2° Via Certidão de baixa de atividade</a></li>
            <li><a class="dropdown-item" href="#"><i class="fas fa-search"></i> Consultar autenticidade certidão baixa de atividade</a></li>
            <li><a class="dropdown-item" href="#"><i class="fas fa-file-invoice-dollar"></i>Declaração de não inscrito</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-building"></i> Mobiliário
          </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#"><i class="fas fa-file-alt"></i> 2° Via TFF</a></li>
          <li><a class="dropdown-item" href="#"><i class="fas fa-check-circle"></i> 2° Via ISS</a></li>
          <li><a class="dropdown-item" href="#"><i class="fas fa-file-alt"></i> Emissão de CND</a></li>
          <li><a class="dropdown-item" href="#"><i class="fas fa-check-circle"></i> Validação CND</a></li>
          <li><a class="dropdown-item" href="#"><i class="fas fa-search"></i> Cartão CGA</a></li>
          <li><a class="dropdown-item" href="#"><i class="fas fa-file-invoice-dollar"></i>Consultar autenticidade de alvara</a></li>
        </ul>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-home"></i> Imobiliário
          </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#"><i class="fas fa-file-alt"></i> 2° Via IPTU</a></li>
          <li><a class="dropdown-item" href="#"><i class="fas fa-check-circle"></i> 2° Via ITIV</a></li>
        </ul>




        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-folder"></i> Protocolo
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#"><i class="fas fa-file-invoice-dollar"></i> Acesse sistema de protocolo</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-receipt"></i> NFS-e
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#"><i class="fas fa-file-invoice-dollar"></i> Acesse sistema de NFS-e</a></li>
            <li><a class="dropdown-item" href="#"><i class="fas fa-file-invoice-dollar"></i>Consultar autenticidade de NFS-e</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Botão Fixo "Acessar" -->
<div class="fixed-button" id="fixedButton">
  <i class="fas fa-sign-in-alt"></i>
  <span class="button-text" >e-contrib</span>
</div>
